.crear-oferta-informacion {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h1 {
		margin: 0;
		margin-top: 50px;
		margin-bottom: 60px;
		color: $color-blue-dark;
		font-size: 35px;
		font-weight: 700;
	}
}

.crear-oferta-informacion-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	h2 {
		color: $color-blue-dark;
		font-size: 24px;
		font-weight: 700;
	}
	form {
		width: 660px;
		margin-left: 150px;
		margin-top: 60px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 20px;

		.add-pregunta {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-bottom: 100px;
			button {
				width: 179px;
				height: 60px;
				background-color: $color-blue-dark;
				color: #ffffff;
				font-family: inherit;
				font-size: 18px;
				font-weight: 500;
				border: none;
				cursor: pointer;
				border-radius: 8px;
			}
		}
		p {
			color: $color-text;
			font-size: 18px;
			font-weight: 500;
			margin: 0;
		}
		.textarea-preguntas {
			color: $color-blue-dark;
			font-size: 18px;
			font-weight: 500;
			margin-top: 30px;
		}
		.multiple-checks {
			width: 357px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			input {
				width: 29px;
			}
			label {
				width: auto;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				gap: 0px;
				margin-right: 10px;
			}
		}
		.doble-input-special {
			width: 100%;
			display: flex;
			align-items: flex-end;
			gap: 30px;
			input {
				width: 100%;
				height: 40px;
			}
		}
		.doble-input {
			width: 100%;
			display: flex;
			gap: 30px;
			input {
				width: 100%;
				height: 40px;
			}
		}
		label {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: $color-text;
			font-size: 20px;
			font-weight: 500;
			gap: 10px;
		}
		input {
			width: 100%;
			height: 40px;
			border-radius: 8px;
			border: 2px solid $color-blue;
			color: $color-text;
			font-family: inherit;
			font-size: 20px;
			font-weight: 400;
			padding: 0 1rem;
		}
		select {
			width: 100%;
			height: 40px;
			border-radius: 8px;
			border: 2px solid $color-blue;
			color: $color-text;
			font-family: inherit;
			background-color: #fff;
			font-size: 20px;
		}
		textarea {
			width: 100%;
			height: 150px;
			resize: none;
			border-radius: 8px;
			font-family: inherit;
			font-size: 20px;
			color: $color-text;
			padding: 0 1rem;
		}

		.no-mostrar-salario {
			display: flex;
			flex-direction: row;
			gap: 0;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			gap: 10px;
			font-size: 18px;
			font-weight: 500;
			input {
				width: 29px;
				height: 29px;
				border-radius: 8px;
			}
		}
	}
}

.crear-oferta-publicar {
	width: 100%;
	height: 950px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 70px;
	h2 {
		color: $color-blue-dark;
		font-family: inherit;
		font-size: 30px;
		font-weight: 700;
	}
	button {
		width: 138px;
		height: 61px;
		border-radius: 10px;
		background-color: $color-blue;
		color: #fff;
		cursor: pointer;
		font-family: inherit;
		font-size: 18px;
		font-weight: 500;
		border: none;
	}
}

// BOTONES FORM

.btns-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 70px;
	.cancelar {
		width: 148px;
		height: 60px;
		border-radius: 10px;
		background-color: $color-text;
		color: #ffffff;
		font-family: inherit;
		font-size: 18px;
		font-weight: 500;
		border: none;
		cursor: pointer;
	}
	.guardar {
		border: none;
		cursor: pointer;
		color: #ffffff;
		width: 251px;
		height: 60px;
		border-radius: 10px;
		background-color: $color-blue;
		font-size: 18px;
		font-weight: 500;
		font-family: inherit;
	}
}

///

// CHECKBOX ESPECIAL
.label-special-input {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	.button {
		position: relative;
		top: 50%;
		width: 74px;
		height: 36px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid 3px $color-blue;
	}

	.button.r,
	.button.r .layer {
		border-radius: 100px;
	}

	.button.b2 {
		border-radius: 2px;
	}

	.checkbox {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		opacity: 0;
		cursor: pointer;
		z-index: 3;
	}

	.knobs {
		z-index: 2;
	}

	.layer {
		width: 100%;
		background-color: #ebf7fc;
		transition: 0.3s ease all;
		z-index: 1;
	}

	#button-1 .knobs:before {
		content: "Si";
		position: absolute;
		top: 3px;
		left: 4px;
		width: 25px;
		height: 25px;
		color: #fff;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
		line-height: 1;
		padding: 9px 4px;
		background-color: $color-blue;
		border-radius: 50%;
		transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
	}

	#button-1 .checkbox:checked + .knobs:before {
		content: "No";
		left: 42px;
		background-color: $color-text;
	}

	#button-1 .checkbox:checked ~ .layer {
		background-color: #fcebeb;
	}

	#button-1 .knobs,
	#button-1 .knobs:before,
	#button-1 .layer {
		transition: 0.3s ease all;
	}
}

//TERMINA CHECKBOX

//Beneficios

.crear-oferta-beneficios-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	h2 {
		color: $color-blue-dark;
		font-family: inherit;
		font-size: 24px;
		font-weight: 700;
		margin: 0;
		margin-top: 45px;
		margin-bottom: 50px;
		margin-left: 170px;
	}
}

.beneficios-form {
	width: 830px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	gap: 35px;
	.item {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.beneficio {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 20px;
		}
	}
}

// CHECKBOX ESPECIAL BIG
.label-special-input-big {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	.button {
		position: relative;
		top: 50%;
		width: 129px;
		height: 57px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid 3px $color-blue;
	}

	.button.r,
	.button.r .layer {
		border-radius: 100px;
	}

	.button.b2 {
		border-radius: 2px;
	}

	.checkbox {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		opacity: 0;
		cursor: pointer;
		z-index: 3;
	}

	.knobs {
		z-index: 2;
	}

	.layer {
		width: 100%;
		background-color: #ebf7fc;
		transition: 0.3s ease all;
		z-index: 1;
	}

	#button-1 .knobs:before {
		content: "Si";
		position: absolute;
		top: 3px;
		left: 4px;
		width: 45px;
		height: 45px;
		color: #fff;
		font-family: inherit;
		font-size: 25px;
		text-align: center;
		line-height: 1;
		padding: 9px 4px;
		background-color: $color-blue;
		border-radius: 50%;
		transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
	}

	#button-1 .checkbox:checked + .knobs:before {
		content: "No";
		left: 70px;
		background-color: $color-text;
	}

	#button-1 .checkbox:checked ~ .layer {
		background-color: #fcebeb;
	}

	#button-1 .knobs,
	#button-1 .knobs:before,
	#button-1 .layer {
		transition: 0.3s ease all;
	}
}

//TERMINA CHECKBOX BIG
