.login {
	width: 1344px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-form {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h1 {
		font-size: 35px;
		font-weight: 700;
	}
	form {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 60px;
		.show-password {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			button {
				z-index: 100;
				cursor: pointer;
				background-color: transparent;
				border: none;
				margin-left: -2rem;
				margin-bottom: -0.3rem;
				color: $color-text;
				font-size: 1rem;
			}
		}
		input {
			color: $color-text;
			font-size: 15px;
			font-weight: 500;
			font-family: inherit;
			width: 70%;
			padding: 8px 15px;
			border: 1.5px solid $color-blue-dark;
			border-radius: 5px;
		}
		input[type="submit"] {
			background-color: $color-blue;
			border: none;
			color: #fff;
			margin-top: 20px;
			cursor: pointer;
			font-size: 16px;
			height: auto;
			width: auto;
			padding: 12px 30px;
			border-radius: 3px;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
	span {
		font-size: 20px;
		font-weight: 500;
		color: $color-blue-dark;
		a {
			margin-left: 10px;
			color: #c5bbbb;
		}
	}
}
.login-image {
	width: 559px;
	height: 383px;
}
