.mis-avisos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 35px;
		font-weight: 700;
		color: $color-blue-dark;
		margin: 0;
		margin-top: 90px;
		margin-bottom: 80px;
	}
	.mis-avisos-select {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 60px;
		select {
			background-color: transparent;
			border: none;
			font-family: inherit;
			font-size: 20px;
			font-weight: 500;
			color: $color-blue;
		}
	}
	article {
		width: 1158px;
		height: 231px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border-radius: 30px;
		margin-bottom: 60px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 30px;
		.trash {
			width: 54px;
			height: 54px;
			background-color: $color-blue-dark;
			font-family: inherit;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			svg {
				color: #ffff;
				font-size: 1.5rem;
			}
		}
		.info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			width: 722px;
			margin-right: 300px;
			h3 {
				font-size: 20px;
				font-weight: 700;
				margin: 0;
				color: $color-blue-dark;
				margin-bottom: 30px;
			}
			h5 {
				font-size: 20px;
				font-weight: 500;
				margin: 0;
				color: $color-text;
				margin-bottom: 30px;
			}
			p {
				font-size: 20px;
				font-weight: 500;
				color: $color-text;
				margin: 0;
			}
		}
	}
}
