.cards-blog {
	margin-top: 60px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 65px;
	column-gap: 45px;
	a {
		text-decoration: none;
		color: inherit;
		width: 336px;
		article {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h3 {
				color: $color-blue-dark;
				font-family: inherit;
				font-size: 25px;
				font-weight: 700;
				margin: 0;
				margin-top: 30px;
			}
			p {
				margin: 0;
				color: $color-text;
				font-size: 18px;
				font-weight: 400;
				margin-top: 17px;
			}
		}
	}
}
