* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-margin-top: 10rem;
}

*::after,
*::before {
	box-sizing: inherit;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	margin: 0;
}
